<h1>Materials</h1>
<%= link_to 'New Material', new_admin_course_material_path(@course), class: 'ui positive button' %>
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= link_to 'Show', admin_course_material_path(@course, material) %></td>
        <td><%= link_to 'Edit', edit_admin_course_material_path(@course, material), class: "ui button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
