<%= form_with model: [:admin, about], class: "ui form" do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "ui positive button" %>
  </div>
<% end %>
