<h1><%= @material.name%></h1>
<% if @material.is_external %>
  <%= link_to "Download", @material.url, target: "_blank" %>
<% else %>
  <%= link_to "Download", @material.attachment.url, target: "_blank" %>
<% end %>
