<h1>Courses</h1>
<%= link_to 'New Course', new_admin_course_path, class: "ui positive button" %>
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, admin_course_path(course) %></td>
        <td><%= link_to 'Edit', edit_admin_course_path(course), class: "ui button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
