<%= link_to 'New Course', new_admin_course_path %>
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, admin_course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
