<div class="ui huge breadcrumb">
  <% breadcrumb_trail.each_with_index do |breadcrumb, index| %>
    <% if index == breadcrumb_trail.count-1 %>
      <%= link_to breadcrumb.name, breadcrumb.url, class: "active section" %>
    <% else %>
      <%= link_to breadcrumb.name, breadcrumb.url, class: "section" %>
      <div class="divider"> / </div>
    <% end %>
  <% end %>
</ul>
