<footer class="ui segment">
  <div class="ui center aligned container">
    <div class="ui horizontal divided link list">
      <a class="item" href="https://github.com/bamboofox/bamboofox-website">
        <i class="github icon"></i>
        Github repo
      </a>
      <a class="item" href="https://github.com/bamboofox">
        <i class="github icon"></i>
        Github
      </a>
      <a class="item" href="https://bamboofox.github.io/">
        <i class="book icon"></i>
        Blog
      </a>
      <a class="item" href="https://www.youtube.com/c/BambooFox/">
        <i class="youtube icon"></i>
        Youtube
      </a>
      <a class="item" href="https://www.facebook.com/NCTUCSC/">
        <i class="facebook icon"></i>
        Facebook page
      </a>
      <a class="item" href="https://www.facebook.com/groups/bamboofox/">
        <i class="unlock alternate icon"></i>
        Facebook club
      </a>
      <a class="item" href="https://bamboofox.herokuapp.com/">
        <i class="slack icon"></i>
        Slack
      </a>
      <a class="item" href="https://t.me/csc2018">
        <i class="telegram icon"></i>
        Telegram
      </a>
    </div>
    <br/>
    <div>
        Sponsor by
        <a class="item" href="https://hitcon.org">
            HITCON
        </a>
    </div>
  </div>
</footer>
