<footer class="ui segment">
  <div class="ui center aligned container">
    <div class="ui horizontal divided link list">
      <a class="item" href="https://github.com/bamboofox/bamboofox-website">
        <i class="github icon"></i>
        Github repo
      </a>
      <a class="item" href="https://bamboofox.github.io/">
        <i class="book icon"></i>
        Blog
      </a>
      <a class="item" href="https://www.facebook.com/NCTUCSC/">
        <i class="facebook icon"></i>
        Facebook
      </a>
      <a class="item" href="https://github.com/bamboofox">
        <i class="github icon"></i>
        Github
      </a>
      <a class="item" href="https://bamboofox.herokuapp.com/">
        <i class="slack icon"></i>
        Slack
      </a>
    </div>
  </div>
</footer>
