<footer class="ui center aligned inverted vertical footer segment">
  <p>Copyright ©2017 Bamboofox</p>
  <div class="ui horizontal inverted link list">
    <a class="item" href="https://bamboofox.github.io/">blog</a>
    <a class="item" href="https://www.facebook.com/NCTUCSC/">facebook</a>
    <a class="item" href="https://github.com/bamboofox">github</a>
    <a class="item" href="https://bamboofox.herokuapp.com/">slack</a>
  </div>
</footer>
